.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
  }
  
  .header-left {
    font-size: 1.5rem;
    color: #333;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .profile-button,
  .logout-button {
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-left: 10px;
    transition: background-color 0.25s, border-color 0.25s;
  }
  
  .profile-button:hover,
  .logout-button:hover {
    background-color: #0056b3;
  }
  
  .profile-button:focus,
  .logout-button:focus {
    outline: 4px auto -webkit-focus-ring-color;
  }
  